/* File : Main.css */

@import url("../styles/root.css");

/* --- Landing Section */
#landing-section {
  position: absolute;
  top: 35%;
  margin-left: 15px;
  width: 35%;
}

#landing-section p {
  /* margin: auto; */
  /* text-align: center; */
  width: 60%;
  font-size: 1.4rem;
}

#landing-section h1 {
  color: var(--primary-500);
}

#join-button {
  margin-top: 20px;
  padding: 15px 30px;
  background-color: var(--primary-color);
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

#join-button:hover {
  background-color: var(--primary-700);
}

#catalog-hyperlink {
  position: relative;
  left: 40px;
  color: var(--green-light);
  padding: 10px 10px;
}

/* --- End of Landing Section */

/* --- Landing Background Photo --- */
#photo {
  transform: rotate(15deg);
  margin-top: 8%;
  float: left;
  margin-left: 55%;
  width: auto;
}
/* --- End of Landing Background Photo --- */

/* About Section */
.about-section p {
  line-height: 2rem;
  width: 40%;
}

.about-section h1 {
  padding: 0;
  margin: 0;
}

#about-line {
  right: 40%;
  position: relative;
  width: 20%;
  background-color: var(--white);
}
/* End of About Section */

/* Form */
.form {
  margin-top: 80px;
}

.content-form {
  float: left;
}

.boxform {
  float: right;
  text-align: center;
  max-height: 100vh;
  max-width: 360px;
  padding: 7px;
  background: var(--black);
  border-width: 1px;
  border-style: solid;
  border-color: var(--grey-500);
  border-image: initial;
  border-radius: 5px;
}

.boxform label {
  text-shadow: 2px 2px #000000;
  font-size: 20px;
  color: #E5E5E5;
  font-family: "Oswald", sans-serif;
}

.boxform p {
  /* font-size: 20px; */
  color: #E5E5E5;
  font-family: "Oswald", sans-serif
}

.boxform input {
  order: 2px solid #E5E5E5;
  font-family: "Oswald", sans-serif;
  width: 85%;
  height: 40px;
  color: #FFF;
  background: transparent;
  outline: 2;
}

.boxform hr {
  position: relative;
  background-color: var(--grey-500);
}

.boxform button {
  position: relative;
  top: 10px;
  left: 0px;
  width: 85%;
  height: 40px;
  color: var(--grey-100);
  background: var(--primary-500);
  border: 0;
  border-radius: 4px;
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  transition: all 0.4s ease 0s;
  margin-bottom: 35px;
}

.boxform button:hover {
  background: var(--primary-700);
  box-shadow: 0 0 5px var(--primary-700), 0 0 25px var(--primary-700), 0 0 50px var(--primary-700), 0 0 100px var(--primary-700);
}

#policy {
  color: var(--grey-400);
}

/* End of Form */