body {
  background-color: #333;
}

.main-photo {
  transform: rotate(5deg);
  margin-top: 2%;
  opacity: 50%;
}

.back {
  background-color: red;
}

.photo {
  transform: rotate(10deg);
  margin-top: 5%;
  margin-left: 49%;
}