/* File : Products.css */

@import url("../styles/root.css");

/* Content */
.products {
  width: fit-content;
  margin: auto;
  display: grid;
  grid-template-columns: auto auto;
  gap: 2rem;
}

.teks_judul {
  text-align: center;
  grid-column: 1 / 4;
}

hr {
  grid-column: 1 / 4;
  grid-row: 3 / 4;
  background-color: var(--white);
}

.buy-button {
  padding: 9px 20px;
  background-color: var(--primary-color);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

.buy-button:hover {
  /* Make cool hover effect */
  background-color: var(--primary-700);
  border: 1px #fff solid;
}

.products .judul_products {
  margin-top: 15px;
  width: fit-content;
  font-size: 30px;
  font-weight: 700;
  text-shadow: 2px 2px #000000;
}

.products .gambar_products {
  width: 300px;
}

.products .teks_products {
  margin-top: -5px;
  width: 300px;
}

/* End of Content */

/* -New Content- */
.card {
  background-color: var(--grey-50);
}


.card img {
  border-radius: 6% !important;
}

.card-body {
  color: black;
}

.card-hr {
  border: 5px solid var(--primary-900);
  opacity: 1;
  width: 30%;
}

.card-body .btn {
  background-color: var(--primary-color);
  color: var(--white);
  margin-bottom: 10px;
}

.card-title {
  font-size: 28px;
}

.card-text {
  margin-top: 17px;
  font-size: 18px;
}